@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #3a6cf4;
}

.navigation a {
    text-decoration: none;
    color: #3a6cf4;
    margin: 15px;
    font-size: 18px;
    font-weight: 500;
}

.navigation a:hover {
    color: #25007a;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/33.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.main h2 {
    color: white;
    font-size: 20px;
    /* margin-top: 50px; */
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    font-size: 50px;
    color: #b700e5;
    font-weight: bold;
}

.main h3 {
    color: white;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;

}

/* .main::before {
    content: '';
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 70%);
} */

/* .main div {
    position: relative;
    color: white;
    padding: 5px 100px;
    align-items: center;
    background-color: rgb(102, 34, 237);
} */

.main-btn {
    color: white;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 40px;
    border-radius: 15px;
    letter-spacing: 1px;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #25007a;
    transform: scale(1.1);
}

.social-icons a {
    color: white;
    font-size: 25px;
    padding-right: 30px;
}

.projects {
    background-color: black;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.title {
    display: flex;
    justify-content: center;
    /* text-align: center; */
    color: #3a6cf4;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.project-card {
    background-color: white;
    border: 1px solid white;
    min-height: 14em;
    width: 30em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-image img {
    width: 100%;
}

.project-card:hover .project-image {
    opacity: 0.7;
}

.project-info {
    padding: 1em;
}

.project-paragraph {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.project-title .template {
    text-decoration: none;
    color: #3a6cf4;

}
.project-title .template:hover {
    color:darkviolet;
}

.card {
    background-color: #fff;
    width: 21.25em;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    margin: 30px;
    transition: 0.7s ease;

}
.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.contact .icon {
    font-size: 2em;
}
.footer {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}
.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span {
    color: #3a6cf4;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}




@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }
    .main h2 span {
        font-size: 1.3em;
    }

    .card .icon {
        font-size: 3em;
    }
}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
    }
}